/* image preview */
.preview{
    width: 100%;
    height: 150px;
    border: 1px solid rgb(235, 237, 242);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.preview img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* page section */

.pages .page-section{
    position: relative;
    height: 100%;
}

.pages .page-section .card-body{
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.pages .page-section .card-body img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease;
}

.pages .page-section a{
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(30%, -30%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.pages .page-section a i{
    color: #000;
}

.pages .page-section h4{
    font-weight: 600;
}

/* tab styles */
.nav-tabs{
    background-color: #1A2035;
    margin-bottom: 10px;
}

.nav-tabs .nav-link{
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    font-weight: 500;
    position: relative;
}

.nav-tabs .nav-link.active{
    background-color: #fff;
    font-weight: 600;
    border-radius: 0;
}

.nav-tabs .nav-link.active::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #1A2035;
    display: block;
    pointer-events: none;
}

.tab-pane .card{
    border-radius: 0 0 10px 10px;
}

.btn-header{
    background-color: #1A2035;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.btn-header:hover{
    background-color: #16161a;
    color: #fff;
}