/* Or, for a specific breakpoint */
@media (min-width: 1400px) { /* Affects XXL screens and up */
  .container {
    max-width: 1320px; /* Overrides Bootstrap's default .container on xxl screens */
  }
}

.hero-card-web{
    padding-top: 100px !important;
    padding-bottom: 40px !important;
    height: auto !important;
}

.pricing-table .inner-table h2{
    font-size: 24px !important;
}

.ql-align-center{
    text-align: center !important;
}

.isotope_item img{
    width: 100% !important;
    height: auto !important;
}