.hero-card-web{
    padding-top: 100px !important;
    padding-bottom: 40px !important;
    height: auto !important;
}

.pricing-table .inner-table h2{
    font-size: 24px !important;
}

.ql-align-center{
    text-align: center !important;
}

.isotope_item img{
    width: 100% !important;
    height: auto !important;
}